.App {
  text-align: center;
}

.App-img-div {
  height: 50vmin;
  pointer-events: none;
}

.mc-img {
  margin-top: 30vmin;
  height: 30vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .mc-img {
    animation: mc-img-spin infinite 20s linear;
  }
}

@keyframes mc-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
